<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capgemini.wdapp.dao.IUserDao">

	<insert id="saveUser" parameterType="com.capgemini.wdapp.model.User"  keyProperty="id" useGeneratedKeys="true">

		insert into
		user(openid,shopid,registertime,nickname,icon,lastlogintime)
		values(#{openId},#{shopId},#{registerTime},#{nickname},#{icon},#{lastLoginTime})

	</insert>

	<update id="updateUser" parameterType="com.capgemini.wdapp.model.User">
		update user set nickname =
		#{nickname},icon = #{icon},lastlogintime = #{lastLoginTime}
		where id = #{id};
	</update>

	<select id="getUserInfo" parameterType="com.capgemini.wdapp.model.User"
		resultMap="userMap">
		select id,
		openid,shopid,registertime,nickname,icon,lastlogintime from user
		where
		openid = #{openId}
	</select>


	
	<select id="getUser" parameterType="com.capgemini.wdapp.model.User"
		resultMap="userMap">
		select id,
		openid,shopid,registertime,nickname,icon,lastlogintime from user
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="shopId != null">
			and shopid = #{shopId}
		</if>
		
	</select>





	<resultMap id="userMap" type="com.capgemini.wdapp.model.User">
		<result property="id" column="id" />
		<result property="openId" column="openid" />
		<result property="shopId" column="shopid" />
		<result property="registerTime" column="registertime" />
		<result property="nickname" column="nickname" />
		<result property="icon" column="icon" />
		<result property="lastLoginTime" column="lastlogintime" />
	</resultMap>


</mapper>